$light-background: #ffffff;
$light-text: rgb(0, 0, 0);
$dark-background: hsl(206.4, 23.4%, 21%);
$dark-text: #fbfafa;

body.body--dark {
        background: hsl(207, 26%, 17%) !important;
}

.q-card.q-card--dark {
    background: hsl(207, 26%, 17%) !important;
  }

@mixin theme-colors($light-theme: true) {
    @if $light-theme {
      background-color: $light-background;
      color: $light-text;
    } @else {
      background-color: $dark-background;
      color: $dark-text;
    }
  }
    .header{
        padding-inline: 6vw;
        padding-block: max(1.1em,1.8vw);
        margin-inline: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-shadow: #00000029 0 -4px 10px 1px;
        position: sticky;
        top: 0;
        z-index: 4;
    
        @include theme-colors($light-theme: true);
        body.body--dark & {
        @include theme-colors($light-theme: false);

        .q-btn .q-btn__content .block {
            body.body--dark & {
            @include theme-colors($light-theme: false);
    }
    }
}
}

.q-btn .q-btn__content .block {
    body.body--dark & {
        color: $dark-text;
}
}

p{
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

span{
    font-weight: bold;
}

.back-btn{
    margin: 50px 50px;
}

.q-list .q-item .q-item__section.title{
    font-weight: bold;
}

.country-block-img {
    height: 100%;
    max-width: 100%;
    width: 100%;
    display: block;
}